body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    color: #808080;
    padding-top: 100px;
}
h2{
    font-size: 40px;
    color:cadetblue;
    padding-top: 50px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 25px;
    color: grey;
}
.orange-color{
    color:rgb(255, 123, 0);
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.half-width img{
    width: 30vw;
    padding-left: 10%; 
    height:89.5vh;
}
.linked-button{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 94, 0, 0.877), rgb(255, 154, 71));
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 25px;
}
.mid-portion{
    background: url(bgi1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.recipes{
    width: 50%;
    margin-left: 25%;
}
p {
    text-align: center;
  }
  h2{
      text-align: center;
  }
.container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100vh;
      align-content:center;
  }
  .box{
      width: 25rem;
      height: 40rem;
      margin: 2rem;
      border-radius: 25px;
      box-shadow: 5px 5px 20px grey;
      align-content: left;
      flex-shrink:
  }#box-images{
      width: 350px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
  }
#bottom-part{
    background: rgba(0, 0, 0, 0.938);
    object-position: center;
    width: 90%;
    height: 35vh;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
}