body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 25px;
    color: gray;
}
.red-color{
    color: red;
}